$white: #f5f5f5;
.header {
  background-color: rgb(29, 29, 94);
  padding: 20px 15px;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      color: $white;
      font: 400 26px "Lobster";
      line-height: 1;
      margin: 0;
      cursor: pointer;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 8px;
      text-transform: capitalize;
      color: $white;
      margin: 0 20px 0 auto;
    }

    .login-btn {
      color: $white;
      border: 2px solid $white;
      border-radius: 16px;
      font-size: 14px;
      font-weight: 500;
      transition: .2s linear;

      &:hover{
        background-color: $white;
        color: rgb(29, 29, 94);
      }
    }

    .mat-menu-trigger {
      background: transparent;
      border: none;
      outline: none;
      color: $white;
      cursor: pointer;
    }

    .menu-icon {
      font-size: 35px;
      height: auto;
      width: auto;
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
