<header class="header">
  <div class="container">
    <div class="header-content">
      <h1 class="title" (click)="openMain()">BigBoard</h1>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let o of options">
          <button mat-menu-item *ngIf="o.canShow()" (click)="o.action()">
            <mat-icon>{{ o.icon }}</mat-icon>
            <span>{{ o.title }}</span>
          </button>
        </ng-container>
      </mat-menu>
    </div>
  </div>
</header>
