.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 100px auto;

  button {
    margin-top: 10px;
  }

  .spinner {
    width: 25px;
    display: inline;
    left: 50px;
    top: -2px;
    height: 25px;
  }
}
