.wrapper {
  .top-background {
    width: 100%;
    height: 200px;
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #2e608f 15%, #deca46 100%);
    position: relative;
  }

  .user-photo {
    width: auto;
    height: auto;
    max-width: 115px;
    font-size: 89px;
    position: absolute;
    color: #505050;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);

    background: #fff;
    border-radius: 50%;
    padding: 12px;
  }

  .table{
    margin:100px auto 0;
    padding: 15px;
    border: 1px solid #505050;
    font-size: 20px;

    .label{
      font-weight: 600;
      padding: 15px;
    }

    .value{
      padding: 15px;
    }
  }
}
