<div class="container">
  <form action="" [formGroup]="form" class="form" (ngSubmit)="signup()">
    <h2 class="title">Sign Up</h2>
    <mat-form-field floatLabel="auto">
      <label for="username">Username</label>
      <input
        id="username"
        name="username"
        type="text"
        matInput
        formControlName="username"
      />
      <mat-error *ngIf="form.get('username')?.invalid"
        >Username is invalid</mat-error
      >
    </mat-form-field>

    <mat-form-field floatLabel="auto">
      <label for="email">Email</label>
      <input type="email" name="email" matInput formControlName="email" />
      <mat-error *ngIf="form.get('email')?.invalid"
        >Email is invalid</mat-error
      >
    </mat-form-field>
    <mat-form-field floatLabel="auto">
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        matInput
        formControlName="password"
      />
      <mat-error *ngIf="form.get('password')?.invalid"
        >Password is invalid</mat-error
      >
    </mat-form-field>

    <mat-form-field floatLabel="auto">
      <label for="phoneNumber">Phone Number</label>
      <input
        id="phoneNumber"
        name="phoneNumber"
        type="number"
        matInput
        formControlName="phoneNumber"
      />
      <mat-error *ngIf="form.get('phoneNumber')?.invalid"
        >Phone Number is invalid</mat-error
      >
    </mat-form-field>
    <mat-error *ngIf="beError">Invalid information</mat-error>
    <button
      [disabled]="form.invalid || isLoading"
      mat-raised-button
      color="primary"
      type="submit"
    >
      <mat-spinner
        class="spinner"
        *ngIf="isLoading"
        [diameter]="20"
        [strokeWidth]="2"
      ></mat-spinner>
      Sign Up
    </button>
  </form>
</div>
