<main class="main">
  <app-header></app-header>
  <div class="content">
    <mat-drawer-container class="container" [ngClass]="{'container-empty': !selectedPage}">
      <mat-drawer mode="side" opened class="sidebar">
          <mat-selection-list [multiple]="false" class="types-list"
                              (selectionChange)="getSelectedPageData($event)">
            <mat-list-option *ngFor="let page of pages" [value]="page" class="type">
              {{page}}
            </mat-list-option>
          </mat-selection-list>
      </mat-drawer>

      <router-outlet></router-outlet>
      <div *ngIf="!selectedPage" class="data-image">
        <img src="https://cdn.dribbble.com/users/2394319/screenshots/4773525/media/3abebd7f14032c54245cb54cf48d17a3.png" alt="data">
      </div>
    </mat-drawer-container>

  </div>
  <app-footer></app-footer>
</main>
